@using Blog.Portal.Helpers
@{
    var basePath = Context.Request.PathBase;
    string userImage = $"{basePath}/Image/{User.UserImage()}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hassan Blog | @ViewData["Title"]</title>

    <partial name="_DashboardCss" />

</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <partial name="_DashboardNav" />
        <div class="content-wrapper">
            @await RenderSectionAsync("Header",required:false)
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8" style="border:solid 1px rgba(0,0,0,.06)">
                            @RenderBody()
                        </div>

                        <div class="col-lg-4">
                            @*FollowUs*@

                            <partial name="_FollowUs" />
                            <!--Latest Posts-->
                            <partial name="_LatestPosts" />
                            <!--Categories-->
                            <partial name="_Categories" />
                            <!--Tags-->
                            <partial name="_Tags" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <partial name="_DashboardCopyRight" />
        </footer>
    </div>

    <partial name="_DashboardScripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
