@inject IMediator _mediator
@{
    var Categories = await _mediator.Send(new GetCategories());
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Categories</h5>
            </div>
            <div class="card-body" style="padding-top:1rem;">
                <div class="col-sm-12">
                    @foreach (var category in Categories)
                    {
                        <div class="category d-flex justify-content-between mb-3">
                            <a href="~/Tutorials/@category.Id" title="@category.Name">@category.Name</a>
                            <span>@category.PostsCount</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>