<style>
    .follow-us a {
        font-size: 32px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin: 3px;
        transition: 500ms;
    }

        .follow-us a :hover {
            transform: scale(1.2);
        }

        .follow-us a i {
            font-size: 32px;
        }

    @@media (max-width: 550px) {
        .follow-us {
            transform: unset;
            width: 100%;
            flex-direction: row;
            padding: 16px 0;
            justify-content: center;
            visibility: visible;
        }
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Follow Us</h5>
            </div>
            <div class="card-body" style="padding-top:1rem;">
                <div class="col-sm-12">
                    <partial name="_FollowUsContent" />
                </div>
            </div>
        </div>
    </div>
</div>