<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Follow Us</h5>
            </div>
            <div class="card-body" style="padding-top:1rem;">
                <div class="col-sm-12">
                    <ul style="padding-left:0px;" class="d-flex justify-content-between align-items-center">
                        <li class="list-inline-item"><a style="font-size:32px; width:32px;height:32px; line-height:32px;margin:3px" href="https://www.facebook.com/HassanMohamedSoftwareDeveloper"><i style="color: #1877f2;" class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a style="font-size:32px; width:32px;height:32px; line-height:32px;margin:3px" href="https://twitter.com/HMSoftwareDev"><i style="color: #1da1f2;" class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a style="font-size:32px; width:32px;height:32px; line-height:32px;margin:3px" href="https://www.linkedin.com/in/hassanmohamedsoftwaredeveloper/"><i style="color: #0077b5;" class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>