@inject IMediator _mediator
@{
    var Tags = await _mediator.Send(new GetTags());
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Tags</h5>
            </div>
            <div class="card-body" style="padding-top:1rem;">
                <div class="col-sm-12">
                    <ul class="list-inline" style="padding: 0;margin: 0;">
                        @foreach (var tag in Tags)
                        {
                            <li class="list-inline-item">
                                <a class="tag" href="~/Tag/@tag.Tag" title="@tag.Tag">
                                    #@tag.Tag
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>