@page "/Admin/Posts/{id:guid}"
@model Blog.Portal.Pages.Admin.EditPostModel
@{
    ViewData["Title"] = "Update Post";
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="../../lib/bs-stepper/css/bs-stepper.min.css">
<link rel="stylesheet" href="../../lib/select2/css/select2.min.css">
<link rel="stylesheet" href="../../lib/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<link rel="stylesheet" href="../../lib/summernote/summernote-bs4.min.css">

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Update Post</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-page="Posts">Posts</a></li>
                    <li class="breadcrumb-item active">Add Post</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Post.Id" type="hidden" />
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Post Details</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="bs-stepper">
                                <div class="bs-stepper-header" role="tablist">
                                    <!-- your steps here -->
                                    <div class="step" data-target="#basic-part">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="basic-part" id="basic-part-trigger">
                                            <span class="bs-stepper-circle">1</span>
                                            <span class="bs-stepper-label">Basic Info</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#tag-part">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="tag-part" id="tag-part-trigger">
                                            <span class="bs-stepper-circle">2</span>
                                            <span class="bs-stepper-label">Tag Info</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#body-part">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="body-part" id="body-part-trigger">
                                            <span class="bs-stepper-circle">3</span>
                                            <span class="bs-stepper-label">Body Info</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <!-- your steps content here -->
                                    <div id="basic-part" class="content" role="tabpanel" aria-labelledby="basic-part-trigger">
                                        <div class="form-group">
                                            <label asp-for="Post.Title"></label>
                                            <input asp-for="Post.Title" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Post.Description"></label>
                                            <input asp-for="Post.Description" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Post.CategoryId"></label>
                                            <select asp-for="Post.CategoryId" asp-items='new SelectList(Model.Post.Categories,"Id","Name")' class="form-control select2bs4">
                                                <option value="@null">Select Category</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Post.ImageFile"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Post_ImageFileAddOn"><i class="fas fa-upload"></i></span>
                                                </div>
                                                <div class="custom-file">
                                                    <input asp-for="Post.ImageFile" onchange="DisplayFileName(this)" class="custom-file-input" aria-describedby="Post_ImageFileAddOn">
                                                    <label class="custom-file-label" asp-for="Post.ImageFile" id="FileDesc">Choose file</label>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-primary" onclick="stepper.next()">Next</button>
                                    </div>
                                    <div id="tag-part" class="content" role="tabpanel" aria-labelledby="tag-part-trigger">
                                        <div class="form-group">
                                            <label asp-for="Post.Tags"></label>
                                            <input asp-for="Post.Tags" class="form-control" />
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                                        <button type="button" class="btn btn-primary" onclick="stepper.next()">Next</button>
                                    </div>
                                    <div id="body-part" class="content" role="tabpanel" aria-labelledby="body-part-trigger">
                                        <div class="form-group">
                                            <label asp-for="Post.Body"></label>
                                            <textarea asp-for="Post.Body" id="summernote" class="form-control"> </textarea>
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts{
    <script src="../../lib/select2/js/select2.full.min.js"></script>
    <script src="../../lib/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="../../lib/summernote/summernote-bs4.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script>
        $.validator.setDefaults({ ignore: [] });

        $(function () {
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            $('#summernote').summernote({
                tabsize: 2,
                height: 200
            });


        })

        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

        function DisplayFileName(file) {
            var fileName = "Choose file";
            if ($(file).val()) {
                var fileName = file.files[0].name;
            }
            $("#FileDesc").text(fileName);
        }

    </script>
}

