@page
@model Blog.Portal.Pages.Auth.ForgotPasswordModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
}


<div class="login-box">
    <div class="login-logo">
        <a href="@Request.PathBase/"><b>Hassan</b>Blog</a>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

            <form method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input asp-for="ForgotPassword.Email" class="form-control" placeholder="@Html.DisplayNameFor(x=>Model.ForgotPassword.Email)">
                    </div>
                    <span asp-validation-for="ForgotPassword.Email" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                    </div>
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a asp-page="Login">Login</a>
            </p>
            <p class="mb-0">
                <a asp-page="register" class="text-center">Register a new membership</a>
            </p>
        </div>
    </div>
</div>