<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<variable name="logPath" value="d:\Logs\Blog\${shortdate}\${level}\${date:format=HH}.log"/>
	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="error" fileName="${logPath}"
				layout="Log Datetime : ${longdate}${newline}Calling Method : ${callsite}${\t} | Line Number : ${callsite-linenumber}${newline}Request URL : ${aspnet-request-url}${newline}Controller : ${aspnet-mvc-controller} | Action : ${aspnet-mvc-action}${newline}Message : ${message}${newline}Error Details :${newline}${exception:format=tostring}${newline}---------------------------------------------------------------------------------------" />
		<target xsi:type="File" name="info_warn" fileName="${logPath}"
					layout="Log Datetime : ${longdate}${newline}Calling Method : ${callsite}${\t} | Line Number : ${callsite-linenumber} | Controller : ${aspnet-mvc-controller} | Action : ${aspnet-mvc-action}${newline}Message : ${message}${newline}---------------------------------------------------------------------------------------" />
		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
				layout="datetime=${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" level="Error"  writeTo="error" />
		<logger name="*" level="Info"  writeTo="info_warn" />
		<logger name="*" level="Warn"  writeTo="info_warn" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Trace" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>