@model PostViewModel
@{
}
<link rel="stylesheet" href="~/lib/Trumbowyg-main/dist/ui/trumbowyg.min.css">
<div class="container">
    <form asp-action="Edit" asp-controller="Panel" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CurrentImage" />
        <div class="form-group">
            <label asp-for="Title" class="label-control"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="label-control"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tags" class="label-control"></label>
            <input asp-for="Tags" class="form-control" />
            <span asp-validation-for="Tags"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tags" class="label-control"></label>
            <select asp-for="Category" class="form-control">
                <option value="Travel">Travel</option>
                <option value="Programming">Programming</option>
                <option value="Photography">Photography</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Body" class="label-control"></label>
            <textarea id="editor" asp-for="Body" class="form-control"></textarea>
            <span asp-validation-for="Body"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="label-control"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save Post Data" class="btn btn-success" />
            <a asp-controller="Panel" asp-action="Index" class="btn btn-primary">Back To List</a>
        </div>

    </form>
</div>

@section scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>

    <script>
        $('#editor').trumbowyg();
    </script>
}