
<form asp-controller="Blog" asp-action="Index" method="get" class="search-form">
    <div class="form-group">
        <input name="search" type="search" placeholder="What are you looking for?">
      @*  <div class="form-group">
            <label class="label-control"></label>
            <select name="category" class="form-control">
                <option value="Travel">Travel</option>
                <option value="Programming">Programming</option>
                <option value="Photography">Photography</option>
            </select>
        </div>*@
        <button type="submit" class="submit"><i class="icon-search"></i></button>
    </div>
</form>