@page
@model IndexModel
@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Search) ? "Home page" : $"Search results for {Model.Search}";
    Layout = "_blogLayout";
}

@if (string.IsNullOrWhiteSpace(Model.Search))
{
    <h1>Home Page</h1>
}
else
{

}

@section Scripts{

    }